body{
    text-align: center;
}

h1, h2{
    margin: 10vh;
}

.nom{
    background-color: white;
    border: solid black;
    border-radius: 2vh;
    margin: 4vh auto;
    padding: 2vh;
    max-width: 20vw;
    font-size: 1.4rem;
}

.nom form *{
    font-size: 1.3rem;
}

.lancement {
    padding: 2vh;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.lancement form * {
    font-size: 1.3rem;
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 2vh 2vh;
    border-radius: 1.5vh;
    margin-right: 4vw;
}

.lancement input:hover {
    background-color: #444;
    cursor: pointer;
}
